body {
    background: url(/assets/misc/background.webp);
    background-position: center center;
}

.trackScreen {
    width: 100%;
    height: auto;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    padding: 0 16px;
}

.trackArea {
    width: 100%;
    max-width: 640px;
    height: 100%;
}

.trackForm{
    width: 100%;
    height: 100%;
    padding: 30px 0 120px 0;
}

.goBack{
    font-family: var(--font1);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--primClr1);
    padding-left: 5px;
}

.goBack>svg{
    width: 15px;
    height: 15px;
    stroke-width: 2;
    display: flex;
}

.pageTitle{
    font-family: var(--font1);
    font-size: 32px;
    text-transform: capitalize;
    line-height: 0.8;
    letter-spacing: 1px;
    margin: 11px 0 24px 0;
    padding-left: 9px;
}

.trackItemsHere{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.oneTrackingDet{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: var(--borderRadius1);
    border: 1px solid var(--borderBlk);
    box-shadow: var(--shadow1);
    padding: 15px;
}

.orderNumber>h2{
    font-family: var(--font1);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.courierInfo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.courierInfo>img{
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    object-fit: contain;
    transform: scaleX(-1);
    background-color: rgba(0, 0, 0, 0.035);
    border: 1px solid var(--borderBlk);
    border-radius: 50%;
    padding: 3px;
}

.courierInfoDets{
    width: 100%;
    min-height: 65px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.courierInfoDets>p{
    font-family: var(--font1);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.courierInfoDets>p>span{
    font-weight: 400;
    color: gray;
    text-transform: capitalize;
}

.courierInfoDets>h2{
    font-family: var(--font1);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: auto;
}

.courierInfoDets>h2>span{
    text-transform: capitalize;
}

.statusDiv{
    width: 90%;
    max-width: 440px;
    margin: 20px auto 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.statusDiv>hr{
    position: absolute;
    width: 100%;
    height: 1px;
    border: none;
    border-bottom: 2px dashed var(--borderBlk);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.oneStatus{
    position: relative;
}

.oneStatus>svg{
    width: 50px;
    height: 50px;
    background-color: rgb(245, 245, 245);
    border: 1px solid var(--borderBlk);
    border-radius: var(--borderRadiusInside1);
    stroke-width: 1.5;
    padding: 10px;
    position: relative;
    z-index: 20;
}

.oneStatus[aria-selected = "true"] svg{
    background-color: var(--primClr2);
    border: 1px solid var(--borderClr);
    color: white;
}

.oneStatus>p{
    width: fit-content;
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font1);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.trackData{
    margin: 45px auto 25px auto;
    width: 90%;
    height: auto;
    display: flex;
}

.verticleLine{
    width: 2px;
    min-height: 100%;
    background-color: var(--borderBlk);
    border-radius: var(--borderRadiusInside1);
    margin: 0 25px 0 0;
}

.trackDataHere{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.oneTrackDet{
    position: relative;
    border-radius: var(--borderRadiusInside1);
    border: 1px solid var(--borderBlk);
    padding: 11px;
    background-color: rgba(0, 0, 0, 0.035);
}

.oneTrackDet::before{
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
    background-color: rgb(245, 245, 245);
    border: 2px solid var(--borderBlk);
}

.oneTrackDet>h1{
    font-family: var(--font1);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: gray;
}

.oneTrackDet>h2{
    font-family: var(--font1);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 5px;
    color: gray;
}

.oneTrackDet>h3{
    font-family: var(--font1);
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: gray;
    text-transform: capitalize;
    margin-top: 10px;
}

.oneTrackDet[aria-selected = "true"]::before{
    background-color: var(--primClr2);
    border: 2px solid var(--borderClr);
}

.oneTrackDet[aria-selected = "true"]>h1, .oneTrackDet[aria-selected = "true"]>h2{
    color: black;
}

@media only screen and (max-width: 576px) {
    .trackScreen {
        padding: 0px 8px;
    }
    .pageTitle{
        font-size: 29px;
    }
    .orderNumber>h2{
        font-size: 13px;
    }
    .courierInfo{
        align-items: flex-start;
        gap: 10px;
    }
    .courierInfo>img{
        width: 45px;
        height: 45px;
        min-width: 45px;
        min-height: 45px;
    }
    .courierInfoDets{
        min-height: 60px;
    }
    .courierInfoDets>p{
        font-size: 12px;
    }
    .courierInfoDets>h2{
        font-size: 13px;
    }
    .oneStatus>svg{
        width: 35px;
        height: 35px;
        padding: 5px;
    }
    .oneStatus>p{
        font-size: 11px;
    }
    .oneTrackDet{
        padding: 10px;
    }
    .oneTrackDet::before{
        width: 10px;
        height: 10px;
        left: -33.5px;
    }
    .oneTrackDet>h1{
        font-size: 12px;
    }
    .oneTrackDet>h2{
        font-size: 11px;
    }
}
