body {
    background: url(/assets/misc/background.webp);
    background-position: center center;
}

.shopScreen {
    width: 100%;
    height: auto;
    min-height: 100svh;
    display: flex;
    gap: 8px;
    padding: 8px;
    position: relative;
}

.searchPlusProductsArea{
    width: 100%;
    min-height: 100%;
    position: relative;
    margin-left: 434px;
    padding: 0 0 100px 0;
}

.searchAreaContext{
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
    position: sticky;
    top: 8px;
    z-index: 100;
}

.filterButtonArea{
    height: 60px;
    width: 60px;
    min-height: 60px;
    min-width: 60px;
    background-color: white;
    backdrop-filter: blur(2px);
    border-radius: var(--borderRadius1);
    border: 1px solid var(--borderBlk);
    box-shadow: var(--shadow1);
    overflow: hidden;
    display: none;
}

.filterButtonArea>button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterButtonArea>button>svg{
    width: 23px;
    height: 23px;
    display: block;
    stroke-width: 1.5;
}

.searchArea{
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: var(--borderRadius1);
    border: 1px solid var(--borderBlk);
    box-shadow: var(--shadow1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    padding: 9px 3%;
}

.searchLogoArea{
    width: fit-content;
    height: calc(100% - 2px);
}

.searchLogoArea>img{
    height: 100%;
    width: auto;
    display: block;
}

.searchForm{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: var(--borderRadiusInside1);
    border: 1px solid var(--borderBlk);
    background-color: rgba(0, 0, 0, 0.035);
    outline: none;
    overflow: hidden;
}

.searchForm>input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 0 15px;
    font-family: var(--font1);
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    outline: none;
}

.searchForm>button{
    width: 60px;
    height: 100%;
    border: none;
    background-color: var(--primClr2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadiusInside1);
    cursor: pointer;
}

.searchForm>button>svg{
    width: 20px;
    height: 20px;
    display: block;
    stroke-width: 2.5;
    color: white;
}

.cartButtonArea{
    height: calc(100% - 2px);
    width: fit-content;
}

.cartButtonArea>button{
    height: 100%;
    width: auto;
    padding: 0 15px;
    border: none;
    background-color: var(--primClr1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadiusInside1);
    cursor: pointer;
    font-family: var(--font1);
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.cartButtonArea>button>svg{
    width: 23px;
    height: 23px;
    display: block;
    stroke-width: 1.5;
    color: white;
}

.productsFound{
    width: fit-content;
    height: auto;
    background-color: var(--primClr2);
    backdrop-filter: blur(2px);
    border-radius: var(--borderRadius1);
    box-shadow: var(--shadow1);
    padding: 5px 15px;
    margin-bottom: 24px;
}

.productsFound>p{
    font-family: var(--font1);
    color: white;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.productsHere{
    width: 100%;
    height: auto;
}

.productsHere>form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 8px;
}

.paginationArea{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    padding-right: 24px;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    border: 1px solid var(--borderBlk);
    border-radius: var(--borderRadiusInside1);
    overflow: hidden;
    background-color: white;
}

.pagination>button{
    height: 35px;
    width: 35px;
    min-height: 35px;
    min-width: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination>button>svg{
    width: 20px;
    height: 20px;
    stroke-width: 2;
    display: block;
}

.pagination>p{
    font-family: var(--font1);
    font-size: 15px;
    letter-spacing: 0.5px;
}

.currentPage{
    background-color: var(--primClr2);
    border-radius: 5px;
    color: white;
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartGoAction{
    width: calc(100% - 16px);
    max-width: 640px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    border-top-left-radius: var(--borderRadius1);
    border-top-right-radius: var(--borderRadius1);
    border: 1px solid var(--borderBlk);
    box-shadow: var(--shadow1);
    padding: 8px;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 100;
    display: none;
}

.cartGoArea {
    width: 100%;
    height: auto;
}

.cartGo {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: var(--borderRadiusInside1);
    background-color: var(--primClr1);
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: var(--font1);
    cursor: pointer;
}

@media only screen and (min-width: 2400px) {
    .productsHere>form{
        grid-template-columns: repeat(auto-fit, 250px);
    }
}

@media only screen and (max-width: 1400px) {
    .searchPlusProductsArea{
        margin-left: 354px;
    }
}

@media only screen and (max-width: 1200px) {
    .filterButtonArea{
        display: block;
    }
    .searchPlusProductsArea{
        margin-left: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .searchArea{
        gap: 9px;
        padding: 9px;
    }
    .searchLogoArea{
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .cartButtonArea{
        display: none;
    }
    .filterButtonArea{
        height: 55px;
        width: 55px;
        min-height: 55px;
        min-width: 55px;
    }
    .searchArea{
        height: 55px;
        padding: 8px;
    }
    .productsHere>form{
        grid-template-columns: repeat(2, 1fr);
    }
    .paginationArea{
        padding-right: 0px;
    }
    .cartGoAction{
        display: block;
    }
}