body {
    background: url(/assets/misc/background.webp);
    background-position: center center;
}

.accountScreen {
    width: 100%;
    height: auto;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    padding: 0 16px;
}

.accountArea {
    width: 100%;
    max-width: 640px;
    height: 100%;
}

.accountForm {
    width: 100%;
    height: 100%;
    padding: 30px 0 170px 0;
}

.goBack {
    font-family: var(--font1);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--primClr1);
    padding-left: 5px;
}

.goBack>svg {
    width: 15px;
    height: 15px;
    stroke-width: 2;
    display: flex;
}

.pageTitle {
    font-family: var(--font1);
    font-size: 32px;
    text-transform: capitalize;
    line-height: 0.8;
    letter-spacing: 1px;
    margin: 11px 0 24px 0;
    padding-left: 9px;
}

.accountDetsHere {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.oneAccountDet {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: var(--borderRadius1);
    border: 1px solid var(--borderBlk);
    box-shadow: var(--shadow1);
    padding: 15px;
}

.oneAccountDetTitlePlusButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.oneAccountDetTitlePlusButton>h1 {
    font-family: var(--font1);
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 700;
}

.oneAccountDetTitlePlusButton>button {
    font-family: var(--font1);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--primClr1);
    text-transform: capitalize;
}

.oneAccountDetTitlePlusButton>button>svg {
    width: 15px;
    height: 15px;
    stroke-width: 2;
    display: block;
}

.personalInfoHere {
    border-radius: var(--borderRadiusInside1);
    border: 1px solid var(--borderBlk);
    padding: 11px;
    background-color: rgba(0, 0, 0, 0.035);
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.personalInfoHere>p {
    font-family: var(--font1);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.personalInfoHere>.personalName {
    text-transform: capitalize;
}

.userAddressHere {
    border-radius: var(--borderRadiusInside1);
    border: 1px solid var(--borderBlk);
    padding: 11px;
    background-color: rgba(0, 0, 0, 0.035);
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.userAddressHere>p {
    font-family: var(--font1);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.userAddressArea {
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.userAddressArea>h2 {
    font-family: var(--font1);
    background-color: var(--primClr2);
    color: white;
    border-radius: var(--borderRadiusInside1);
    padding: 2px 8px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
}

.userAddressArea>p {
    font-family: var(--font1);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.allUserAddressesHere {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.userBottomNav {
    width: calc(100% - 32px);
    max-width: 640px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    border-top-left-radius: var(--borderRadius1);
    border-top-right-radius: var(--borderRadius1);
    border: 1px solid var(--borderBlk);
    box-shadow: var(--shadow1);
    padding: 15px;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
}

.userBottomNav>a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--borderBlk);
    border-radius: var(--borderRadiusInside1);
    background-color: rgba(0, 0, 0, 0.035);
    text-decoration: none;
    color: black;
    padding: 9px 0;
}

.userBottomNav>a[aria-selected="true"] {
    background-color: var(--primClr1);
    color: white;
}

.userBottomNav>a>svg {
    width: 16px;
    height: 16px;
    stroke-width: 1.6;
    display: block;
}

.userBottomNav>a>span {
    font-family: var(--font1);
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
}

@media only screen and (max-width: 576px) {
    .checkoutScreen {
        padding: 0px 8px;
    }

    .pageTitle {
        font-size: 29px;
    }

    .oneAccountDetTitlePlusButton>h1 {
        font-size: 16px;
    }

    .oneAccountDetTitlePlusButton>button {
        font-size: 13px;
    }

    .oneAccountDetTitlePlusButton>button>svg {
        width: 14px;
        height: 14px;
    }

    .personalInfoHere,
    .userAddressHere {
        padding: 10px;
    }

    .personalInfoHere>p,
    .userAddressHere>p,
    .userAddressArea>p {
        font-size: 12px;
    }

    .userAddressArea>h2 {
        font-size: 11px;
    }

    .userBottomNav {
        width: calc(100% - 16px);
        padding: 9px;
    }
}