.editAddressArea{
    width: 100%;
    max-width: 440px;
    height: 100svh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 500;
    padding: 8px;
    transition: 0.3s ease-out;
    opacity: 0;
    transform: translateX(110%);
}

.editAddressContent{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: var(--borderRadius1);
    box-shadow: var(--shadow1);
    border: 1px solid var(--borderBlk);
    padding: 16px 16px 100px 16px;
    overflow-y: auto;
}

.sideTitlePlusCloseButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.sideTitlePlusCloseButton>h1, .inFormTitle{
    font-family: var(--font1);
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 700;
}

.inFormTitle{  
    margin: 35px 0 24px 0;
}

.sideTitlePlusCloseButton>button{
    font-family: var(--font1);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--primClr1);
}

.sideTitlePlusCloseButton>button>svg{
    width: 15px;
    height: 15px;
    stroke-width: 2;
    display: block;
}

.editAddressForm>.inputsArea {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.oneInput {
    display: flex;
    flex-direction: column;
}

.oneInput>label {
    font-family: var(--font1);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    padding-left: 7px;
    letter-spacing: 0.5px;
}

.oneInput>label>span {
    color: red;
}

.oneInput>input, .oneInput>select {
    width: 100%;
    height: 37px;
    border-radius: var(--borderRadiusInside1);
    border: 1px solid var(--borderBlk);
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.035);
    font-family: var(--font1);
    letter-spacing: 0.5px;
    font-size: 13px;
    font-weight: 400;
    outline: none;
}

.oneInput>input:focus, .oneInput>select:focus {
    border: 1px solid var(--borderClr);
}

.addressOriginsSelection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.oneAddressOrigin{
    border-radius: var(--borderRadiusInside1);
    border: 1px solid var(--borderBlk);
    background-color: rgba(0, 0, 0, 0.035);
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 11px;
    width: 100%;
    height: 37px;
}

.oneAddressOrigin>h1{
    font-family: var(--font1);
    font-size: 13px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.oneAddressOriginSelection {
    width: fit-content;
    height: fit-content;
}

.oneAddressOriginSelection>input[type='radio'] {
    display: none;
}

.oneAddressOriginSelection>label {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.oneAddressOriginSelection>label>.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--borderBlk);
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    position: relative;
}

.oneAddressOriginSelection>label>.circle::before {
    content: '';
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: var(--primClr2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.oneAddressOriginSelection>input[type='radio']:checked+label>.circle {
    border-color: var(--borderClr);
}

.oneAddressOriginSelection>input[type='radio']:checked+label>.circle::before {
    display: block;
}


.editAddressFormActButtons{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin-top: 24px;
}

.editAddressFormActButtons>button{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: var(--borderRadiusInside1);
    border: 1px solid var(--borderBlk);
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: var(--font1);
    cursor: pointer;
}

.editAddressFormActButtons>.editAddressSaveBtn{
    background-color: var(--primClr1);
    color: white;
}

@media only screen and (max-width: 576px) {
    .editAddressArea{
        width: 100%;
        max-width: 100%;
    }
    .sideTitlePlusCloseButton>h1{
        font-size: 16px;
    }
    
    .sideTitlePlusCloseButton>button{
        font-size: 13px;
    }
    
    .sideTitlePlusCloseButton>button>svg{
        width: 14px;
        height: 14px;
    }
    .oneInput>label {
        font-size: 12px;
    }
    .oneInput>input {
        width: 100%;
        height: 35px;
        font-size: 12px;
    }
    .oneAddressOrigin{
        height: 35px;
    }
    .oneAddressOrigin>h1{
        font-family: var(--font1);
        font-size: 12px;
    }
    .editAddressFormActButtons>button{
        height: 35px;
        font-size: 14px;
    }
}