.oneProduct{
    width: 100%;
    height: auto;
    min-height: 300px;
    position: relative;
    border-radius: var(--borderRadiusInside1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    color: black;
}

.oneProduct:nth-child(6n + 1) {
    background-color: #DDE2C7;
}

.oneProduct:nth-child(6n + 2) {
    background-color: #EEB109;
}

.oneProduct:nth-child(6n + 3) {
    background-color: #E6F9BE;
}

.oneProduct:nth-child(6n + 4) {
    background-color: #FFCDB0;
}

.oneProduct:nth-child(6n + 5) {
    background-color: #CFC0BA;
}

.oneProduct:nth-child(6n) {
    background-color: #CCE8FE;
}

.oneProduct>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    object-fit: contain;
    display: block;
}

.produceDets{
    margin-top: auto;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    padding: 16px;
    position: relative;
    z-index: 50;
}

.produceDets>p{
    font-family: var(--font1);
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin-bottom: 9px;
}

.produceDets>h2{
    font-family: var(--font1);
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.saleTag{
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    background-color: var(--primClr2);
    color: white;
    border-radius: var(--borderRadiusInside1);
    font-family: var(--font1);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 3px 7px;
    box-shadow: var(--shadow1);
}

.addToCart{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
    z-index: 60;
    border: none;
    background-color: #202020;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
}

.addToCart>svg{
    width: 18px;
    height: 18px;
    stroke-width: 2;
    display: block;
    color: white;
}

@media only screen and (max-width: 576px) {
    .produceDets>p{
        font-size: 13px;
    }
    .produceDets>h2{
        font-size: 13px;
    }
    .saleTag{
        margin: 13px;
        font-size: 12px;
        padding: 3px 7px;
    }
    .addToCart{
        width: 28px;
        height: 28px;
    }
    
    .addToCart>svg{
        width: 16px;
        height: 16px;
    }
}