.oneReviewItem {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: var(--borderRadius1);
    border: 1px solid var(--borderBlk);
    box-shadow: var(--shadow1);
    padding: 11px;
    display: flex;
    gap: 11px;
    cursor: pointer;
}

.itemImageBox {
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    border-radius: var(--borderRadiusInside1);
    border: 1px solid var(--borderBlk);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.oneReviewItem:nth-child(even) .itemImageBox {
    background-color: #EEB108;
}

.oneReviewItem:nth-child(odd) .itemImageBox {
    background-color: #CCE8FE;
}

.itemImageBox>img {
    width: 75%;
    height: 75%;
    object-fit: contain;
    display: block;
}

.itemDets {
    width: 100%;
    height: auto;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 2px 0 2px 3px;
    text-align: left;
}

.itemDets>h1 {
    font-family: var(--font1);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.variations>p {
    font-family: var(--font1);
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.7);
}

.givenReview {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 3px;
}

.givenReview>.stars{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    line-height: 0.75;
    font-size: 19px;
    text-shadow: 0 0 2px black;
}

.givenReview>.stars>.positive{
    color: gold;    
}

.givenReview>.stars>.negative{
    color: gray;    
}

.givenReview>p {
    font-family: var(--font1);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.status{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 9px;
}

.status>h2 {
    width: fit-content;
    font-family: var(--font1);
    background-color: var(--primClr2);
    color: white;
    border-radius: var(--borderRadiusInside1);
    padding: 3px 12px;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-transform: capitalize;
}

.status>p{
    font-family: var(--font1);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: gray;
}


