body {
    background: url(/assets/misc/background.webp);
    background-position: center center;
}

.logoArea {
    width: fit-content;
    height: fit-content;
    margin-bottom: 24px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 30px 0;
}

.logoArea>a {
    width: fit-content;
    height: fit-content;
}

.logoArea>a>img {
    width: 150px;
    height: auto;
    display: block;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.1));
}

.formScreen {
    width: 100%;
    height: auto;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 160px 16px;
}

.formArea {
    width: 100%;
    max-width: 512px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accountArea {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: var(--borderRadius1);
    border: 1px solid var(--borderBlk);
    box-shadow: var(--shadow1);
    padding: 15px;
}

.goBack{
    font-family: var(--font1);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border: none;
    background-color: transparent;
    margin-bottom: 13px;
    cursor: pointer;
    color: var(--primClr1);
}

.goBack>svg{
    width: 15px;
    height: 15px;
    stroke-width: 2;
    display: flex;
}

.resetPasswordForm>h1{
    font-family: var(--font1);
    font-size: 23px;
    font-weight: 700;
}

.resetPasswordForm>p{
    font-family: var(--font1);
    font-size: 15px;
    font-weight: 500;
    margin: 6px 0 24px 0;
}

.inputsArea {
    margin-bottom: 15px;
}

.oneInput {
    display: flex;
    flex-direction: column;
}

.oneInput>label {
    font-family: var(--font1);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    padding-left: 7px;
    letter-spacing: 0.5px;
}

.oneInput>label>span {
    color: red;
}

.oneInput>input {
    width: 100%;
    height: 40px;
    border-radius: var(--borderRadiusInside1);
    border: 1px solid var(--borderBlk);
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.035);
    font-family: var(--font1);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.oneInput>input:focus {
    border: 1px solid var(--borderClr);
}

.submitBtnArea {
    width: 100%;
    height: auto;
}

.submitBtn {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: var(--borderRadiusInside1);
    background-color: var(--primClr1);
    color: white;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: var(--font1);
    cursor: pointer;
}

.submitBtn>svg {
    width: 17px;
    height: 17px;
    stroke-width: 2.8;
    display: block;
    margin-bottom: -1px;
    transition: .15s;
}

.submitBtn:hover svg {
    transform: translateX(5px);
}

@media only screen and (max-width: 576px) {
    .formScreen {
        padding: 160px 8px;
    }

    .logoArea>a>img {
        width: 120px;
    }
}