.displayProducts{
    width: 100%;
    height: auto;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.displayProducts>.innerSpacing {
    width: 95%;
    max-width: 1800px;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.displayProductsHere{
    width: 100%;
    max-width: 1480px;
    height: auto;
    display: flex;
    gap: 24px;
    position: relative;
}

.oneDisplayProduct{
    position: relative;
    text-decoration: none;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.displayProductImageBox{
    position: relative;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 27px;
    perspective: 400px;
    background-color: #EBCCB5;
    border-radius: var(--borderRadius1);
    border: 1px solid var(--borderBlk);
}

.displayProductImageBox>.oneProductPicture{
    width: 75%;
    height: 75%;
    object-fit: contain;
    display: block;
    filter: drop-shadow(0 0px 7px rgba(186, 90, 135, 0.7));
    position: relative;
    z-index: 5;
}

.saleTagPicture{
    height: 80px;
    width: auto;
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 10;
    filter: drop-shadow(0 0 5px rgba(186, 90, 135, 0.35));
}

.oneDisplayProduct>h1{
    font-family: var(--font1);
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    color: var(--primClr1);
}

@media only screen and (max-width: 1400px) {
    .displayProductsHere{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
    .displayProductImageBox{
        height: 400px;
    }
    .saleTagPicture{
        height: 90px;
    }
}

@media only screen and (max-width: 992px) {
    .displayProductsHere{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .displayProductImageBox{
        height: 270px;
    }
    .saleTagPicture{
        height: 80px;
    }
}