.oneCheckoutItem{
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 11px 0;
    border-bottom: 1px solid var(--borderBlk);
}

.oneCheckoutItem:nth-last-child(1){
    border-bottom: none;
}

.itemImageBox {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: var(--borderRadiusInside1);
    border: 1px solid var(--borderBlk);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.oneCheckoutItem:nth-child(even) .itemImageBox {
    background-color: #EEB108;
}

.oneCheckoutItem:nth-child(odd) .itemImageBox {
    background-color: #CCE8FE;
}

.itemImageBox>img {
    width: 75%;
    height: 75%;
    object-fit: contain;
    display: block;
}

.itemDets {
    width: 100%;
    height: auto;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 2px 0 2px 3px;
}

.itemDets>h1 {
    font-family: var(--font1);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.variations>p{
    font-family: var(--font1);
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.7);
}

.unitPrice {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.unitPrice>p,
.finalPrices>p {
    font-family: var(--font1);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.unitPrice>p>span,
.finalPrices>p>span {
    font-weight: 500;
}

.unitPrice>h2 {
    font-family: var(--font1);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 576px) {
    .oneCheckoutItem {
        padding: 10px 0;
        gap: 10px;
    }
    .itemDets {
        padding: 1px 0 1px 3px;
    }

    .itemDets>h1 {
        font-size: 12px;
    }
    .variations>p{
        font-size: 11px;
    }

    .unitPrice>p,
    .finalPrices>p {
        font-size: 11px;
    }
    .unitPrice>h2 {
        font-size: 11px;
    }
}